<h2>Categories</h2>

<div id="form_errors">

</div>

<form novalidate ng-submit="vm.update()">
  <div ng-repeat="category in vm.categories">
    <input type="checkbox" name="categories[]" value="{{category.id}}" ng-model="category.selected"> {{category.name}}
  </div>

  <input type="submit" value="Update" class="btn btn-info btn-block login">
</form>
