<div id="main" class="container">
  <div id="header" class="clearfix">
    <div id="headline" class="uppercase">Daily News</div>
    <div id="date">{{vm.dayWeekWord}} {{vm.day}} {{vm.monthWord}} {{vm.year}}</div>
    <hr class="high">
    <hr class="middle">
    <div id="under_line">
      <div class="uppercase inline">
        rss feed
      </div>
      <div class="pull_right uppercase inline">
        <a href="/#/user/edit">Profile</a>
        <a href="/#/sign_out">Sign out</a>
      </div>
    </div>
    <hr class="low">

    <div id="time-section">
      <div class="pull-left">Personal Windows Desktop</div>
      <div id="time" class="pull_right">{{vm.actualTime()}}</div>
    </div>
  </div>

  <hr class="middle">

  <div class="row">
    <div class="col-md-6">
      <div ng-if="vm.articlesLoading">
        <h2>..Wczytywanie..</h2>
      </div>

      <div ng-if="!vm.articlesLoading" ng-repeat="news in vm.news">
        <h2>Wiadomości <span class="category">kategoria {{news.category}}</span></h2>
        <hr class="low">

        <div class="article" ng-repeat="article in news.articles">
          <div class="row">
            <div class="col-md-12">
              <h3><a href="{{article.url}}">{{article.title}}</a></h3>
              {{article.published}}
              <div class="summary" ng-bind-html="article.summary"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div ng-if="vm.weatherLoading">
        <h2>..Wczytywanie..</h2>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h2>Informacje</h2>
          <hr class="low">
        </div>
        <div class="col-md-6">
          <h2>Pogoda</h2>
          <hr class="low">
          <div>{{vm.weather.city.name}}</div>
          <div ng-repeat="day in vm.weather.list">
            <img ng-src="http://openweathermap.org/img/w/{{day.weather[0].icon}}.png">
            {{day.weather[0].description}}
            Temperatura
            Min: {{day.temp.min}}
            Max: {{day.temp.max}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
