<div class="login-container">
  <div id="form_errors">
    <div class="alert alert-danger animated fadeInUp" ng-if="message.errors">
      <p ng-repeat="error in message.errors">{{error}}</p>
    </div>
  </div>
  <div class="avatar"></div>
  <div class="form-box">
    <form novalidate ng-submit="vm.signUp(user)">
      <input type="text" ng-model="user.nickname" placeholder="Username">
      <input type="text" ng-model="user.email" placeholder="E-mail" autofocus="true">
      <input type="password" ng-model="user.password" placeholder="Password" autocomplete="off">
      <input type="password" ng-model="user.password_confirmation" placeholder="Password confirmation" autocomplete="off">

      <button type="submit" id="register-submit" class="btn btn-info ladda-button login" data-style="expand-right">
        <span class="ladda-label">Sign up</span>
      </button>
    </form>

    <div class="shared_links">
      <br>
      <div class="text-right">
        <a href="/#/sign_in">Log in</a>
      </div>
    </div>
  </div>
</div>
