<div class="login-container">
  <div id="form_errors">
    <div class="alert alert-danger animated fadeInUp" ng-if="message.errors">
      <p ng-repeat="error in message.errors">{{error}}</p>
    </div>
  </div>
  <div class="avatar"></div>
  <div class="row" style="padding:0px 10px 10px 10px">
    <div class="col-xs-4">
      <button class="btn btn-lg btn-block omb_btn-facebook" ng-click="vm.facebookLogin()">
        <i class="fa fa-facebook"></i>
      </button>
    </div>
    <div class="col-xs-4">
      <button class="btn btn-lg btn-block omb_btn-twitter" ng-click="vm.twitterLogin()">
        <i class="fa fa-twitter"></i>
      </button>
    </div>
    <div class="col-xs-4">
      <button class="btn btn-lg btn-block omb_btn-google" ng-click="vm.googleLogin()">
        <i class="fa fa-google-plus"></i>
      </button>
    </div>
  </div>

  <div class="form-box">
    <form ng-submit="vm.signIn(user)">
      <input type="text" ng-model="user.login" placeholder="E-mail or Username">
      <input type="password" ng-model="user.password" placeholder="Password" autocomplete="off">

      <button type="submit" id="login-submit" class="btn btn-info ladda-button login" data-style="expand-right">
        <span class="ladda-label">Login</span>
      </button>

      <div class="text-left">
        <input type="checkbox" id="user_remember_me" checked>
        <label for="remember_me">Remember Me</label>
      </div>
    </form>

    <div class="shared_links">
      <div class="text-right">
        <a href="/#/sign_up">Sign up</a>
      </div>
    </div>
  </div>
</div>
