<div id="main" class="container">
  <div id="header" class="clearfix">
    <div id="headline" class="uppercase">Daily News</div>
    <div id="date">{{vm.dayWeekWord}} {{vm.day}} {{vm.monthWord}} {{vm.year}}</div>
    <hr class="high">
    <hr class="middle">
    <div id="under_line">
      <div class="uppercase inline">
        <a href="/#/">rss feed</a>
      </div>
      <div class="pull_right uppercase inline">
        <a href="/#/sign_out">Sign out</a>
      </div>
    </div>
    <hr class="low">
  </div>

  <hr class="middle">

  <div class="row">
    <div class="col-md-4">
      <div class="avatar" style="height:300px;width:300px;background-image:url({{vm.user.cover}})"></div>
    </div>

    <div class="col-md-8">
      <div ng-if="vm.weatherLoading">
        <h2>..Wczytywanie..</h2>
      </div>

      <div class="row">
        <accordion close-others="oneAtATime">
          <accordion-group heading="Uzupełnianie Profilu">
            <form class="input_paper" novalidate ng-submit="vm.update(vm.user)">
              <div class="col-md-6">
                <input type="text" ng-model="vm.user.nickname" placeholder="Nazwa Użytkownika">
                <input type="text" ng-model="vm.user.email" placeholder="E-mail">
                <input type="password" ng-model="vm.user.password" placeholder="Hasło" autocomplete="off">
                <input type="password" ng-model="vm.user.password_confirmation" placeholder="Potwierdzenie hasła">
              </div>
              <div class="col-md-6">
                <input type="text" ng-model="vm.user.first_name" placeholder="Imię">
                <input type="text" ng-model="vm.user.last_name" placeholder="Nazwisko">
                <select ng-model="vm.user.gender" style="width:256px">
                  <option value="" disabled selected>Płeć</option>
                  <option value="male">Mężczyzna</option>
                  <option value="female">Kobieta</option>
                </select>
                <div class="input-group" style="width:256px">
                  <select class="form-control" ng-model="vm.user.city" ng-options="city.id as city.name for city in vm.cities">
                    <option value="" disabled selected>Lokalizacja</option>
                  </select>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-info btn-block login" id="getPosition" ng-click="vm.initLocation()">
                      <i class="fa fa-map-marker"></i>
                    </button>
                  </span>
                </div>
              </div>
              <button type="submit" id="user-edit-submit" class="btn btn-info ladda-button login clearfix" data-style="expand-right">
                <span class="ladda-label">Zapisz</span>
              </button>
            </form>
          </accordion-group>
          <accordion-group heading="Wybranie Kategorii">
            <form ng-controller="CategorySettingsController as settings" novalidate ng-submit="settings.update()">
              <div ng-repeat="category in settings.categories">
                <input type="checkbox" name="categories[]" value="{{category.id}}" ng-model="category.selected"> {{category.name}}
              </div>
              <button type="submit" id="user-selected-category-submit" class="btn btn-info ladda-button login" data-style="expand-right">
                <span class="ladda-label">Zapisz</span>
              </button>
            </form>
          </accordion-group>
          <accordion-group heading="Usuwanie Konta">
            <form class="button_to" method="post" action="/users">
              <input type="hidden" name="_method" value="delete">
              <input data-confirm="Czy napewno chcesz to zrobić?" class="btn btn-danger login" type="submit" value="Usuń moje konto">
            </form>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>
</div>
