<div id="headline" class="uppercase">Daily News</div>
<div id="date"><%= I18n.l Time.now, :format => "%A %d %B %Y" %></div>
<hr style="height:15px">
<hr>
<div id="under_line">
  <div class="pull_left uppercase inline">
  rss feed
  </div>
  <div class="pull_right uppercase inline">
    <a href="/#/sign_in">Sign in</a>
    <a href="/#/sign_up">Sign up</a>
  </div>
</div>
<hr>
<div id="date_detail">
  YEAR <%= I18n.l Time.now, :format => "%Y" %>
  MONTH <%= I18n.l Time.now, :format => "%m" %>
  WEEK <%= I18n.l Time.now, :format => "%W" %>
  DAY <%= I18n.l Time.now, :format => "%j" %> / <%= I18n.l Time.now, :format => "%w" %>
</div>
<div id="time" class="pull_right"></div>
