.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;

  margin-top: 100%;
}

.ng-enter-active {
  margin-top: 0;
}

.ng-move {
  -webkit-transition: 1s;
  transition: 1s;

  background: gold;
}

.ng-move-active {
  background: #fff;
}

html {
  height: 100%;
}
body {
  //background: url(image_path('newspaper_desktop_blank.jpg'));
  background: url(image_path('background.jpg'));
  background-position: center;
  height: 100%;
  padding-top: 25px;
}

#main {
  background-position: top;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) { 
  #main {
    background: url(image_path('background-content-sm.jpg'));
    padding: 25px 20px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  #main {
    background: url(image_path('background-content-sm.jpg'));
    padding: 25px 50px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #main {
    background: url(image_path('background-content-md.jpg'));
    padding: 25px 75px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  #main {
    background: url(image_path('background-content-lg.jpg'));
    padding: 25px 100px;
  }
}

#header {
  padding: 0px 30px;
}


#headline {
  //font-family: 'OldNewspaper';
  font-family: 'Georgia';
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  z-index: -9999;
  color: #000;
}
#time-section {
  font-size: 50px;
}

#date {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

#date_detail {
  font-size:20px;
  text-align:center;
}

#under_line {
  font-size: 30px;
  margin-top: 15px;
}

#inpl-weather-main {
  background: none;
  background: transparent;
}

hr {
  color: #f00;
  background: #000;
  height: 2px;
  margin: 0px;
}

hr.high {
  height: 10px;
}

hr.middle {
  background: #666;
  margin: 10px 0px;
  height: 2px;
}

hr.low {
  background: #000;
  height: 1px;
}

.uppercase {
  text-transform: uppercase;
}
.inline {
  display: inline-block;
}
.pull_left {
  text-align:left;
  float: left !important;
}
.pull_right {
  text-align:right;
  float: right !important;
}

a {
  color: #2B5E89;
}

img {
  margin: 10px;
}
h2 {
  font-size: 28px;
  font-weight: 600;
}
h3 {
  font-size: 20px;
  font-weight: 600;
}
.article .summary {
  font-family: monospace;
  font-size: 16px;
}
span.category {
  font-size: 16px;
  color: #666;
  font-weight: 100;
}
.span6 {
  display:inline-block;
  vertical-align:top;
  width: 50%;
}
.input_paper input, .input_paper select {
  border:0;
  border-bottom:solid 1px #000;
  outline:none;
  background:none;
  font-size:22px!important;
  margin-bottom:30px;
  font-family:monospace;
  border-radius: 0px;
  box-shadow: none;
  height: initial!important;
  padding:4px 4px!important;
}
