@font-face {
  font: {
    family: 'Averia Gruesa Libre';
    weight: 400;
    style: 'normal';
  }
  src: asset-url('AveriaGruesaLibre-Regular.ttf') format('truetype');
}

@font-face {
  font: {
    family: 'OldNewspaper';
    weight: 400;
    style: 'normal';
  }
  src: asset-url('OldNewspaperTypes.ttf') format('truetype');

}