.login-container{
  padding: 20px 40px 40px;
  border: 1px solid #ccc;
  margin-left: -180px;
  margin-top: -150px;
  text-align: center;
  background: #fff;
  position: fixed;
  width: 300px;
  left: 50%;
  top: 50%;
}

#form_errors{
  position: absolute;
  width: 300px;
  top: -75px;
  left: 0;
  color: #fff;
}

#form_errors.alert-success{
  background: rgb(25, 204, 25);
}

#form_errors.alert-danger{
  background: rgb(228, 105, 105);
}

.login-container::before,.login-container::after{
  content: "";
  position: absolute;
  width: 100%;height: 100%;
  top: 3.5px;left: 0;
  background: #fff;
  z-index: -1;
  -webkit-transform: rotateZ(4deg);
  -moz-transform: rotateZ(4deg);
  -ms-transform: rotateZ(4deg);
  border: 1px solid #ccc;

}

.login-container::after{
  top: 5px;
  z-index: -2;
  -webkit-transform: rotateZ(-2deg);
  -moz-transform: rotateZ(-2deg);
  -ms-transform: rotateZ(-2deg);
}

.avatar{
  width: 100px;height: 100px;
  margin: 10px auto 30px;
  border-radius: 100%;
  border: 2px solid #aaa;
  background-size: cover;
  background-image: url("https://lh5.googleusercontent.com/-PfncbBm91-A/AAAAAAAAAAI/AAAAAAAAAAA/iiQJuN_7LJw/photo.jpg");
}

.form-box input{
  width: 100%;
  padding: 10px;
  text-align: center;
  height:40px;
  border: 1px solid #ccc;;
  background: #fafafa;
  transition:0.2s ease-in-out;

}

.form-box input:focus{
  outline: 0;
  background: #eee;
}

.form-box input[type="text"]{
  border-radius: 5px 5px 0 0;
  text-transform: lowercase;
}

.form-box input[type="password"] {
  border-radius: 0 0 5px 5px;
  border-top: 0;
}
#sign_up_user #user_password {
  border-radius: 0 0 0 0;
}
#sign_up_user #user_email {
  border-top: 0;
}

.form-box button.login{
  margin-top:15px;
  padding: 10px 20px;
  width: 100%;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

div.shared_links {
  margin:-25px 0px;
}

input.login {
  background-color:#5bc0de;
  margin:10px 0px;
}

input.login:focus {
  color: black;
}

input#user_remember_me {
  width:15px;
  height: 15px;
}

form#edit_user input#user_username,
form#edit_user input#user_password,
form#edit_user input#user_password_confirmation {
  border-radius: 0px;
}
form#edit_user input#user_email {
  border-top:none;
}
.omb_btn-facebook {background: #3b5998;color: #fff}
.omb_btn-twitter {background: #00aced;color: #fff}
.omb_btn-google {background: #c32f10;color: #fff}
