<!DOCTYPE html>
<html>
  <head>
    <title>NewspaperUi</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script src="//code.angularjs.org/1.3.15/angular-cookies.min.js"></script>
    <script src="//cdn.auth0.com/w2/auth0-6.js"></script>
    <script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js"></script>
    <script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
    <script src="//cdn.auth0.com/w2/auth0-angular-4.js"> </script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.js"></script>

    <script src="./app/app.module.js"></script>
    <script src="./app/app.routes.js"></script>
    <script src="./app/services/city.service.js"></script>
    <script src="./app/services/weather.service.js"></script>
    <script src="./app/services/message.service.js"></script>
    <script src="./app/services/user.service.js"></script>
    <script src="./app/services/article.service.js"></script>
    <script src="./app/services/category.service.js"></script>
    <script src="./app/layout/shell.controller.js"></script>
    <script src="./app/categories/category-settings.controller.js"></script>
    <script src="./app/users/user-sign-in.controller.js"></script>
    <script src="./app/users/user-sign-up.controller.js"></script>
    <script src="./app/users/user-edit.controller.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body ng-app="app">
    <div ng-view></div>
  </body>
</html>
